h1{
    padding: 10px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.chemin{
    font-size: 10px;
    padding: 10px;
}

.chemin a {
    color: black;
}

.chemin a:hover{
    text-decoration: underline;
}

.descArticle{
    display: flex;
    padding: 10px;
    font-size: 10px;
}

.imgBass{
    height: 300px;
    padding: 10px;
}


.descArticle article{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.divDesc{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.divPrixBtn{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.btnPanier{
    cursor: pointer;
    border-style: none;
    border-radius: 20px;
    background: #FDEF9C;
    padding: 5px;
    font-size: 10px;
    width: 100%;
}

.btnPanier:hover{
    box-shadow: 3px 3px 3px grey;
}

.btnPanier img{
    width: 15px;
}

.montrerCarac{
    display: flex;
    justify-content: center;
}

.voirPlus{
    font-size: 10px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    border-style: none;
    background: white;
}

.details{
    display: none;
}

.divArticleCarac{
    display: flex;
    font-size: 10px;
    gap: 20px;
}

.article1, .article2{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}

.notifAction{
    display: none;
    text-align: center;
    font-size: 10px;
    color: black;
    background: #FDEF9C;
    border-radius: 20px;
    padding: 10px;
}

@media(min-width: 768px){
    h1{
        padding: 15px;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
    }

    .chemin{
        font-size: 16px;
        padding: 12px;
    }

    .descArticle{
        display: flex;
        padding: 10px;
        font-size: 12px;
    }

    .imgBass{
        height: 400px;
        padding: 12px;
    }

    .divDesc{
        gap: 10px;
    }

    .btnPanier{
        padding: 5px;
        font-size: 12px;
    }

    .btnPanier img{
        width: 20px;
    }

    .voirPlus, .divArticleCarac, .notifAction{
        font-size: 12px;
    }

}


@media(min-width: 1024px){
    h1{
        padding: 15px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }

    .chemin{
        font-size: 16px;
        padding: 12px;
    }

    .descArticle{
        display: flex;
        padding: 10px;
        font-size: 16px;
    }

    .imgBass{
        height: 400px;
        padding: 12px;
    }

    .divPrixBtn{
        width: 40%;
    }

    .divDesc{
        gap: 10px;
    }

    .btnPanier{
        padding: 5px;
        font-size: 16px;
    }

    .btnPanier img{
        width: 25px;
    }

    .voirPlus, .divArticleCarac, .notifAction{
        font-size: 16px;
    }
}