footer{
    position: absolute;
    width: 100vw;
    height: 35vw;
    background-color:#2E3341 ;
    margin-top: 50px;
}

.iconsFooter, .menuFooter ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px 20px;
}

.iconsFooter img{
 width:50% ;
 color:#FDEF9C;
}

.iconsFooter ul{
    display: flex;
    flex-direction: row;
    position:absolute;
    top: 7vw;;
    right: 0px;
    width: 30%;
}
.iconsFooter ul img{
    width: 8vw;
}

.menuFooter{
 align-content: center;
}

.menuFooter a{
    position:relative;
    color:#FDEF9C;
    font-family: roboto;
    font-weight: bold;
    font-size: 4vw;
}

/* ---- Responsive Tablette 768 ----*/
@media (min-width: 768px) {
    .iconsFooter ul{
        top: 5vw;;
        right: 0px;
        width: 30%;
    }
}

/*---- Responsive PC 1024----*/
@media (min-width: 1024px) {
    
}