footer{
    position: absolute;
    width: 100%;
    background-color:#2E3341 ;
    margin-top: 30px;
}

.iconsFooter, .menuFooter ul{
    display: flex;
    flex-direction: row;
}

.iconsFooter{
    margin: 20px 20px;
    justify-content: space-between;
    align-items: flex-end;
}

#footerLogo{
 width:50% ;
 color:#FDEF9C;
}

.iconsFooter ul{
    display: flex;
    flex-direction: row;
    width: 30%;
}

.iconsFooter ul img{
    width: 8vw;
}

.menuFooter{
    margin: 20px 20px;
    align-content: center;
}

.menuFooter ul{
    justify-content: center;
    gap: 2rem;
}

.menuFooter a{
    color:#FDEF9C;
    font-weight: bold;
    font-size: 12px;
}

/* ---- Responsive Tablette 768 ----*/
@media (min-width: 768px) {
    footer{
        margin-top: 40px;
    }

    .iconsFooter, .menuFooter{
        margin: 40px 40px;
    }

    .iconsFooter ul{
        width: 30%;
    }

    .menuFooter ul{
        gap: 5rem;
    }

    .menuFooter a{
        font-size: 16px;
    }
}

/*---- Responsive PC 1024----*/
@media (min-width: 1024px) {
    footer{
        margin-top: 50px;
    }

    #footerLogo{
        width: 30%;
    }

    .iconsFooter, .menuFooter{
        margin: 20px 20px 40px 20px;
    }

    .iconsFooter{
        justify-content: center;
        gap: 10rem;
    }

    .iconsFooter ul{
        position: relative;
        justify-content: center;
        width: 30%;
    }

    .iconsFooter ul img{
        width: 4vw;
    }

    .menuFooter ul {
        gap: 10rem;
    }

    .menuFooter a {
        font-size: 20px;
    }


}