h1{
    margin: 30px 0 20px 0;
    font-size: 12px;
    font-weight: bold;
}

/* ---- Presentation Site----*/
.presentation div{
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    margin: 20px 0 20px 0;
}

.presentation img{
    width: 100%;
}

/*---- Les différentes marques ----*/
.banniere {
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 10px;
}

.banniere article{
    /*Background image*/
    background-image: url("../pics/background_fender.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    /*Positionnement*/
    position: relative;
    display: flex;
    align-items: center;
    height: 20vw;
}

.banniere article img:first-child {
    width: 20%;
}

/*---- Meilleurs Vente ----*/
.bestseller{
    display: grid;
    grid-template-columns: repeat(2, 150px);
    justify-content: space-between;
}

.bestseller article{
    justify-content: center;
}
.bestseller article img{
    width:50%;
    margin: 0 20px 0 20px;
}

/*---- Responsive Tablette ----*/
@media(min-width: 768px){
    h1{
        font-size: 16px;
    }

    .presentation div{
        font-size:20px;
    }

    .bestseller{
        display: grid;
        grid-template-columns: repeat(3, 200px);
    }
}

/*---- Responsive PC ----*/
@media(min-width: 1024px){
    h1{
        font-size: 20px;
    }
    .presentation div{
        font-size:24px;
    }
    .bestseller{
        display: grid;
        grid-template-columns: repeat(3, 200px);
    }
}