/*-- Section : Presentation de la marque */
.presentation{
    background-color: #FDEF9C;
    padding: 20px;
    font-size: 12px;
    text-align: justify;
}

.presentation img{
    width: 30%;
}

.presentation.cort img{
    margin-bottom: 20px;
}

/*-- Section: Aperçu des différents produit --*/
.produit{
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    justify-content: center;
    gap: 7vw;
    width: 100%;
    padding-top: 20px;
}

.produit article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid;
    border-color: grey;
}

.produit.fender article {
    height: 280px;
}

.produit.cort article {
    height: 250px;
}

.myImage{
    width: 100%;
    height: 180px;
    /*background-image: url('../pics/fender/ArticPearl.JPG'); --> On récupere l'url dans le fichier js */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nom{
    padding-top: 10px;
    font-size: 12px;
    text-align: center;
}

/* div informations */
.infos{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /*gap: 4vw;*/
    bottom: 0;
}

.prix{
    font-weight: bolder;
    font-size: 12px;
}

.prixInitial, .infoDispo{
    font-size: 10px;
}

.reference{
    font-size: 8px;
}

@media(min-width: 760px){
    .presentation{
        background-color: #FDEF9C;
        padding: 30px;
        font-size: 16px;
    }

    .presentation img{
        width: 20%;
    }

    .presentation.cort img{
        margin-bottom: 30px;
    }

    /*-- Section: Aperçu des différentes produits --*/
    .produit{
        grid-template-columns: repeat(2, 35vw);
        gap: 3vw;
    }

    .produit article{
        padding: 10px;
    }

    .produit.fender article{
        height: 350px;
    }

    .produit.cort article{
        height : 320px;
    }

    .myImage{
        height: 250px;
    }

    .nom, .prix{
        font-size: 14px;
    }

    .prixInitial, .stock, .reference{
        font-size: 12px;
    }
}

@media(min-width: 1024px) {
    .presentation{
        background-color: #FDEF9C;
        padding: 40px;
        font-size: 18px;
    }

    .presentation img{
        width: 15%;
    }

    .presentation.cort img{
        margin-bottom: 30px;
    }

    /*-- Section: Aperçu des différentes produits --*/
    .produit{
        grid-template-columns: repeat(3, 20vw);
        /*gap: 6vw;*/
    }

    .produit article{
        padding: 15px;
        justify-content: unset;
        gap:2rem;
    }

    .produit.fender article{
        height: 500px;
    }

    .produit.cort article{
        height: 480px;
    }

    .myImage{
        height: 300px;
    }

    .nom, .prix{
        font-size: 18px;
    }

    .prixInitial, .stock, .reference{
        font-size: 15px;
    }
}
