* {
    list-style: none;
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

nav {
    padding: 30px 200px;
    display: flex;
    justify-content: space-between;
    align-items: baseline ;
}

nav span img{
    width: 20vw;
}

nav li, li > a{
    font-weight : 600;
    font-size: 30px;
    color : #000;
}

ul {
    display: flex;
    width: 50vw ;
    justify-content: space-between;
}


@media (max-width: 900px) {
    nav span img{
        width: 180px;
    }
}