article > div > img{
    margin: 10px 3vw ;
    height: 300px;
}

h1{
    font-size: 20px;
    font-family: roboto;
    font-weight: bold; 
    margin: 10px 0 30px 10px;
}

h2{
    font-size: 16px;
    font-family: roboto;
    font-weight: bold; 
}

article{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    background-color: #FDEF9C;
    border: solid black;
}

article > div:last-of-type{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article > div:last-of-type > div:first-of-type > span{
    font-size: 14px;    
}

article > div:last-of-type > div:last-of-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    width: 45vw;
}

article > div:last-of-type > div:last-of-type > div:first-of-type{
    display: flex;
    justify-content: space-between;
    margin: 0 0 5px 5px;
    width: 100px;
}

article > div:last-of-type > div:last-of-type > div:first-of-type >span{
    font-size: 20px;
    font-family: roboto;
    font-weight: bold;
}

article > div:last-of-type > div:last-of-type > div:last-of-type{
    display: flex;
    justify-content: space-between;
}

article > div:last-of-type > div:last-of-type > div:last-of-type > div span {
    font-size: 16px;
    font-family: roboto;
    font-weight: bold;
}

#plus0, #plus1, #plus2, #plus3, #plus4, #plus5 {
    font-size: 20px;
    margin: 0 25px 0 5px;
}

#moins0, #moins1, #moins2, #moins3, #moins4, #moins5{
    font-size: 20px;
    padding: 0 5px 0 5px;
}

#ligne {
    margin: auto auto 20px auto;
    width: 55vw;
    border-bottom: solid black;
}

main > div{
    font-size: 18px;
    font-family: roboto;
    font-weight: bold;
}

#boutonCommande{
    cursor: pointer;
    text-align: center;
    margin: auto;
    padding-top: 15px;
    background-color: #FDEF9C;
    border: 1mm ridge #FDEF9C;
    border-radius:20px;
    width: 50vw;
    height: 4vh;
}

/*---- Responsive Tablette ----*/
@media(min-width: 768px){
    article > div > img{
        margin: 30px 30px ;
        height: 350px;
    }

    h1{
        font-size: 25px;
    }

    h2{
        font-size: 20px;
    }

    article > div:last-of-type > div:last-of-type{
        width: 52vw;
    }
    
    article > div:last-of-type > div:first-of-type > span{
        font-size: 18px;    
    }

    #poubelle0, #poubelle1, #poubelle2, #poubelle3, #poubelle4, #poubelle5 {
        height: 60px;
    }

    article > div:last-of-type > div:last-of-type > div:first-of-type >span{
        font-size: 23px;
    }

    article > div:last-of-type > div:last-of-type > div:last-of-type > div span {
        font-size: 20px;
    }

    article > div:last-of-type > div:last-of-type > div:first-of-type{
        width: 205px;
    }

    #plus0, #plus1, #plus2, #plus3, #plus4, #plus5 {
        font-size: 24px;
        margin: 0 115px 0 5px;
        cursor: pointer;
    }
    #moins0, #moins1, #moins2, #moins3, #moins4, #moins5{
        font-size: 24px;
        padding: 0 5px 0 5px;
        cursor: pointer;
    }
    main > div{
        font-size: 22px;
    }

    #boutonCommande{
        padding: 10px;
        width: 26vw;
        height: 2vh;
    }
}

/*---- Responsive PC ----*/
@media(min-width: 1024px){
    article > div > img{
        margin-bottom: 40px ;
        height: 400px;
    }

    h1{
        font-size: 35px;
    }

    h2{
        font-size: 29px;
    }

    article{
        width: 75vw;
    }

    article > div:last-of-type > div:first-of-type > span{
        font-size: 20px;    
    }

    #poubelle0, #poubelle1, #poubelle2, #poubelle3, #poubelle4, #poubelle5 {
        height: 70px;
    }

    article > div:last-of-type > div:last-of-type > div:first-of-type >span{
        font-size: 28px;
    }

    article > div:last-of-type > div:last-of-type > div:last-of-type > div span {
        font-size: 25px;
    }

    article > div:last-of-type > div:last-of-type > div:first-of-type{
        width: 305px;
    }

    #plus0, #plus1, #plus2, #plus3, #plus4, #plus5 {
        font-size: 24px;
        margin: 0 200px 0 5px;
        cursor: pointer;
    }

    #moins0, #moins1, #moins2, #moins3, #moins4, #moins5{
        font-size: 24px;
        padding: 0 5px 0 5px;
        cursor: pointer;
    }

    #ligne {
        margin: auto auto 20px 9vw;
        width: 58vw;
    }

    main > div{
        font-size: 26px;
    }

    #boutonCommande{
        margin: auto auto auto 24vw;
        padding: 10px;
        width: 23vw;
        height: 2vh;
    }
}

@media(min-width: 1440px){
    h1{
        font-size: 35px;
    }

    h2{
        font-size: 29px;
    }

    article > div:last-of-type > div:last-of-type{
        width: 61vw;
    }

    article > div:last-of-type > div:first-of-type > span{
        font-size: 20px;    
    }

    #poubelle0, #poubelle1, #poubelle2, #poubelle3, #poubelle4, #poubelle5 {
        height: 70px;
    }

    article > div:last-of-type > div:last-of-type > div:first-of-type >span{
        font-size: 28px;
    }

    article > div:last-of-type > div:last-of-type > div:last-of-type > div span {
        font-size: 25px;
    }

    article > div:last-of-type > div:last-of-type > div:first-of-type{
        width: 305px;
    }

    #plus0, #plus1, #plus2, #plus3, #plus4, #plus5 {
        font-size: 24px;
        margin: 0 200px 0 5px;
        cursor: pointer;
    }
    #moins0, #moins1, #moins2, #moins3, #moins4, #moins5{
        font-size: 24px;
        padding: 0 5px 0 5px;
        cursor: pointer;
    }
    #boutonCommande{
        margin: auto auto auto 24vw;
        padding: 10px;
        width: 23vw;
        height: 2vh;
    }
}